<!doctype html>
<head>
<title>PlanIt - The To-do Website</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body style="background-image: url('{{ url_for('static', filename='img/background.png') }}');">

<div class = "logo">
    <div><img src="{{ url_for('static', filename = 'img/plan_it_logo.png')}}" alt="PlanIt Logo" style="width:412px;height:412px"; ></div>
</div>

<!-- Main buttons for login or signing up -->
<div class = "navbar">

    <a href = "{{ url_for('login')}}">Log In</a>
    <a href = "{{ url_for('signup')}}">Sign Up</a>

</div>
</body>
</html>