<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
<title>PlanIt - The To-do Website</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body style="background-image: url('{{ url_for('static', filename='img/background.png') }}');">

<!-- Form with method POST to call routes.py -->
<div class = "task_container">
    <form action = "{{ url_for('login') }}" method ="POST" name = "form">
    <h3><label for = "username">Username:</label></h3>
        <input type = "text" name ="username" id ="username" required>
        <h3><label for = "password">Password:</label></h3>
        <input type = "password" name ="password" id = "password" required><br><br>

        <input type = "submit" name = "submit" id = "submit" class = "button">

    </form>

    <!-- Flash messages (if any are used)-->
    {% with messages = get_flashed_messages() %}
     {% if messages %}
        <ul style="color: #a82626; list-style-type: none;">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</div>


<div class = "navbar">
    <a href="{{ url_for('signup')}}">Sign Up</a>

</div>
</body>
</html>